/*For Normal Computers*/
body{
	background: url("../images/background7.jpg")no-repeat center fixed;
}

nav ul li {
  display: inline-block;
}

/*For iPhone*/
@media (max-width: 320px) {
	html {background: navy;}
}
/*For iPad*/
@media (min-width: 1024px) {
	html {background: black;}
}